html, body {
    margin: 0;
    height: 100%;
  }
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.parent {
    display: flex;
    flex-direction: row;
}
.child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;  
    display: block;
    background-color: #2C2C2B; 
    text-align: center;
    color: white;
    }

.child2 {
    width: 80%;
    /* padding: 30px; */
    /* height: 100vh;
    border: green solid 5px;
    margin: 50px; */
}
.my_card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20%;
    
}

/* On mouse-over, add a deeper shadow */
.my_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
  } */

  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }